body {
background-color: #0852f0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
color: rgb(240, 248, 255);
text-align: center;

}
#ano{
 display: flex;
 align-items: center;
}
#ano p{
padding-right: 20px;
}
#txtano{
width: 50px;

   }
#button {
padding-top: 10px;    
}

section {
background-color: #eeeeea;
width: 600px;
padding: 30px;
margin: auto;
border-radius: 10px;
font-size: 20px;
}
footer{
text-align: center;
color: #eeeeea;
}
